/* Overall layout */
.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 1vh;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f6f6;
  padding: 1rem 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.welcome-text {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.logout-btn {
  background-color: #fff;
  color: black;
  border: none;
  padding: 16px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn:hover {
  background-color: #e7e9ea;
}

/* Sidebar + Main section */
.dashboard-content {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 230px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2rem;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.03);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px 0;
  color: #333;
  cursor: pointer;
  font-weight: 700;
}

.sidebar li:hover {
  color: #0b93cd;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #f3f4f6;
}

/* Welcome box */
.dashboard-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin-bottom: 30px;
}

.dashboard-title {
  color: #333;
  margin-bottom: 20px;
}

/* Table styles */
.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

.user-table th,
.user-table td {
  padding: 14px 16px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.user-table th {
  background-color: #fff;
  font-weight: bold;
  color: #030303;
}

.user-table tr:hover {
  background-color: #f9f9f9;
}

/* Pagination controls */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
}

.pagination-controls button {
  background-color: #077eb0;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
  background-color: #055f86;
}

.pagination-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-controls span {
  font-weight: bold;
  color: #333;
}

.add-user-btn {
  background-color: #0056b3;
  color: white;
  padding: 16px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight:bolder;
  font-size: 15px;
  margin-left: auto;
  margin-bottom: 30px;
}

.add-user-btn:hover {
  background-color: #04356e;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
